* {
  box-sizing: border-box;
}

html {
  background: url(../images/whosThat.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  background: rgba(0, 0, 0, 0)
}

.position {
  margin-top: 12%;
  margin-left: 5%;
}

.imgSize {
  width: 60%;
  height: auto;
}

.pokeImg {
  -webkit-filter: contrast(0) sepia(100%) hue-rotate(163deg) saturate(178%) brightness(100%);
  filter: contrast(0) sepia(100%) hue-rotate(163deg) saturate(178%) brightness(100%);
  opacity: 1;

}

.quiz-box {
  background: #5ea7ce;
}

.form-check-input {
  margin: 1.5% 1.5% !important;
}

.timer-text {
  margin-left: 2%;
}
